@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Interface for group 6' IoT assignment, the latest data can be found on the dashboard.</p>
</div>
