@page
@model Automated_Light_Web_Interface.Pages.IOTDashboardModel
@{ }
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="~/js/Graph.js" asp-append-version="true"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>